# Compiled source #
###################
*.pyc

# Logs and cache #
###################
*.log
demo_cache.sqlite

# Secure #
###################
creds.json

# Other #
###################
screenshot*.png
/venv
/config/site.retry
site.yml.bkup
