## to generate requirements.txt use 
## $ pip freeze -r requirements-dev.txt > requirements.txt
##
## packages added by developer
Flask
Flask-RESTful
requests
requests-cache
WTForms
passlib
pymongo
beautifulsoup4
selenium
bottlenose
lxml
gunicorn
pep8
q
PyVirtualDisplay
