<div class="row">
  <form method="GET" action="/search">
    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="search movies or shows" name="q" value="{{ query }}" autofocus>
    </div>
    <div class="col-md-2">
      <select name="mtype" class="form-control">
        <option value="movie">Search Movies</option>
        <option value="show" {% if mtype == 'show' %} selected {% endif %}>Search Shows</option>
      </select>
    </div>
    <div class="col-md-2">
      <input type="submit" class="btn btn-primary" value="Search">
    </div>
  </form>
</div>
