[Unit]
Description=Gunicorn instance to serve media-search
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/media-search
Environment="PATH=/home/ubuntu/media-search/venv/bin"
ExecStart=/home/ubuntu/media-search/venv/bin/gunicorn --reload --workers 4 --bind unix:media-search.sock -m 007 --access-logfile /home/ubuntu/media-search/log/gunicorn-access.log  --error-logfile /home/ubuntu/media-search/log/flaskapp.log wsgi:app

[Install]
WantedBy=multi-user.target
