.logo {
    width: 55%;
    height: 49px;
    display: block;
    margin: 6px auto 4px auto;  /* top right bottom left */
 }

.icon {
    height: 17px;
    margin-left: 5px;
    margin-right: 7px;
}

.form-group {
    margin-right: 20px;
    margin-bottom: 20px;
}

.resultbox {
    margin-bottom: 15px;
}

/* http://stackoverflow.com/questions/30930792/how-to-make-divs-that-automatically-wrap-to-the-next-row */
.source {
    display: inline-block;
    position: relative;
    width: 252px;
    height: 168px;
    margin: 0px 6px 10px 0px;  /* top right bottom left */
    border: solid 1px black;
    padding: 0px;
    text-align: center;
    vertical-align: top;
}

.name {
    font-weight: bold;
    font-size: 125%;
}

.typetvp {
    /* background-color: indigo;
    background-color: brown; */ 
    background-color: rebeccapurple;
    /* background-color: slateblue; */
    color: white;
}

.typefree {
    /* background-color: darkslategray; */
    background-color: sienna;
    color: white;
}

.sourceinfo {
    margin: 3px 0px 6px 0px;  /* top right bottom left */
}

.button-del {
    background:none!important;
    border:none; 
    padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#069;
    text-decoration:underline;
    cursor:pointer;
}

h4 {
    margin-top: 0px!important;
}

/* prevents bootstrap nav bar from collapsing on smaller screens
   https://stackoverflow.com/questions/23535289/bootstrap-3-disable-navbar-collapse/23536146#23536146 */
.navbar-nav>li, .navbar-nav {
    float: left !important;
}
.navbar-right {
    float: right !important;
}
.navbar-brand {
    margin-left: -23px !important;
    margin-top: -6px !important;
    margin-right: 5px !important;
}

.navbaricon {
    height: 32px;
}
