{% extends 'layout.html' %}
{% set active_page = 'about' %}

{% block body %}
    <div><h4>
        This project searches movies and tv shows, then displays streaming sources if found. User registration allows for creation of a personalized watchlist with sources displayed. System pieces include:
    </h4></div>
    <div>
      <ul>
        <li><strong>Linux, Nginx/Gunicorn, MongoDB, Python/Flask</strong>
        <li>Webserver + framework: Nginx/Gunicorn, Python/Flask
        <li>Database: MongoDB
        <li>HTML Templating: jinja, VueJS
        <li>UI: Bootstrap, some custom CSS
        <li>DevOps: AWS, Ansible, ufw
        <li>Other tools: flash messaging, wtforms, logging, REST, APIs
        <li>Dev Environment: Ubuntu, vim/tmux, github
      </ul>
    <div>
{% endblock %}
