{% extends 'layout.html' %}
{% set active_page = 'about' %}

{% block body %}
  <table class="table table-dark">
    <tr>
      <td>
        Watchlst.com lets you create a watchlist of movies and tv shows, and tells you sites where they are streaming. You can hide media with no stream sources so you see only what is watchable.
        <br><br>
        All streaming sources are based on US availability.
      </td>
      <td>
        <img src="/static/demo.gif" alt="demo animation of using site">
      </td>
    </tr>
  </table>
{% endblock %}
