{% extends 'layout.html' %}
{% set active_page = 'home' %}

{% block body %}

    {% include 'includes/_header.html' %}
    {% include 'includes/_searchbar.html' %}

    {% set img_base_url = 'https://image.tmdb.org/t/p/w154' %}

    <br><br><br>
    <section id="recommendations">
        <h4>Recommendations:</h4>
        <div id="results">
          {% for rec in recs %}
            <article>
                <a href="{{ url_for('mediainfo', mtype=rec['mtype'], mid=rec['id']) }}">
                    <img src="{{ img_base_url + rec['poster_path'] }}">
                    <div>
                        {% for s in rec['sources'] %}<span><img class="icon" src="static/{{ s['name'] }}_favicon.ico" alt=""/></span>{% endfor %}
                    </div>
                    <p>{{ rec['title'] }} ({{ rec['year'] }})</p>
                </a>
            </article>
          {% endfor %}
        </div>
    </section>

{% endblock %}

