<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Media search</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT ––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS ––––––––––––––––––––––––––––
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
</head>

<body>
  <div class="container">
    <div style="margin-top: 6%">
        <h4>Check if a movie/show is streaming on Netflix, HBO, Hulu, Amazon Prime, or Showtime</h4>
    </div>

    <form action="/search" method="get">
        <input type="text" class="u-full-width" placeholder="Terminator ... Mockingjay 2 ... Broad City" name="q" value="{{ query }}">
        <input type="submit" class="button-primary" name="type" value="Search Movies">
        <input type="submit" name="type" value="Search Shows (all episodes, slow)">
    </form>

    {% if (isresult and sources) %}  <!-- search result with source -->
        <p>The {{ qtype }} <strong>{{ media['title'] }} ({{ media['year'] }})</strong>
            <a href='http://www.imdb.com/title/{{ media['imdb'] }}'>imdb</a>
            is available on these streaming services:</p>

        <!-- <img src="{{ media['img'] }}" /> -->

        <ul>
        {% for source in sources %}
            <li><a href="{{ sources[source]['link'] }}">{{ sources[source]['name'] }}</a>
                {% if qtype == 'show' %}
                    - {{ sources[source]['epcount'] }} episodes in season(s):
                    {{ ', '.join(sources[source]['seasons']) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
 
    {% elif isresult %}  <!-- search result without source -->
        <p>The {{ qtype }} <strong>{{ media['title'] }} ({{ media['year'] }})</strong>
            <a href='http://www.imdb.com/title/{{ media['imdb'] }}'>imdb</a>
            doesn't seem available on these streaming services.</p>

    {% elif query %}  <!-- no search results -->
          <p>Your search for "{{ query }}" did not match any {{ qtype }} results.
    {% endif %}


    {% if other_results %}  <!-- lists other results if available -->
        <p>...or did you mean?:
        {% for item in other_results %}
            <a href="{{ item['href'] }}">{{ item['title'] }}</a> &nbsp
        {% endfor %}
        </p>
    {% endif %}

  </div>    
</body>

</html>
