<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Media search</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT ––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––– -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}"> 
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='media_search.css') }}">
</head>

<body>
  <div class="container">
    <div style="margin-top: 6%">  <!-- introduction -->
        <h4>Find if a movie/show is streaming on Netflix, HBO, Hulu, Amazon Prime, or Showtime</h4>
    </div>

    <div class="row">  <!-- search box and buttons-->
        <form action="/search" method="get">
        <div class="five columns" style="margin-right: 3px">
            <input type="text" class="u-full-width" placeholder="Terminator ... Mockingjay 2 ... Broad City ...  InuYasha" name="q" value="{{ query }}" autofocus>
        </div>
        <div class="seven columns" style="margin-left: 3px">
            <input type="submit" class="button-primary" name="type" value="Search Movies">
            <input type="submit" name="type" value="Search Shows">
        </div>
        </form>
    </div>

    {% if (isresult and sources) %}  <!-- display if search result plus source -->

    <div style="margin-top: 15px">  <!-- box with media image and description -->
        <img class="u-pull-left" style="margin-right: 2%" src="{{ media['img'] }}" />
        <div>
            The {{ qtype }} <strong>{{ media['title'] }} ({{ media['year'] }})</strong>
            <a href='http://www.imdb.com/title/{{ media['imdb'] }}'>imdb</a>
            is available on these streaming services:
        </div>
    </div>
    <div class="u-cf" style="margin-bottom: 15px" />
    <br />

    {% if (qtype == 'show') and source_sub %}  <!-- sub show source boxes -->
        <!-- <div class="u-cf" style="margin-top: 15px">Subscription:</div> -->
        {% for s in source_sub %}
            <div class="source">
                {% if s['name'] == 'netflix' %}
                    <img class="logo" src="{{ url_for('static', filename='netflix_logo.png') }}" />
                {% elif s['name'] == 'hulu_plus' %}
                    <img class="logo" src="{{ url_for('static', filename='hulu_logo.png') }}" />
                {% elif s['name'] == 'amazon_prime' %}
                    <img class="logo" src="{{ url_for('static', filename='amz_prime_blue.jpg') }}" />
                {% elif s['name'] == 'hbo_now' %}
                    <img class="logo" src="{{ url_for('static', filename='hbo_logo.png') }}" />
                {% elif s['name'] == 'showtime_subscription' %}
                    <img class="logo" src="{{ url_for('static', filename='showtime_logo.png') }}" />
                {% endif %}
                {{ s['epcount'] }} <a href={{ s['link'] }}>episodes</a>
                in season(s): {{ ', '.join(s['seasons']) }}
            </div>
        {% endfor %}
    {% endif %}
    {% if (qtype == 'show') and source_free %}  <!-- free show source boxes -->
        <!-- <div class="u-cf" style="margin-top: 15px">Free Streaming:</div> -->
        {% for s in source_free %}
            <div class="source">
                <div class="typefree">Free Streaming</div>
                <div class="name">{{ s['display_name'] }}</div>
                {{ s['epcount'] }} <a href={{ s['link'] }}>episodes</a>
                in season(s): {{ ', '.join(s['seasons']) }}
            </div>
        {% endfor %}
    {% endif %}
    {% if (qtype == 'show') and source_tvp %}  <!-- tv_provider show source boxes -->
        <!-- <div class="u-cf" style="margin-top: 15px">Stream with TV Provider Login:</div> -->
        {% for s in source_tvp %}
            <div class="source">
                <div class="typetvp">Stream with TV Provider Login</div>
                <div class="name">{{ s['display_name'] }}</div>
                {{ s['epcount'] }} <a href={{ s['link'] }}>episodes</a>
                in season(s): {{ ', '.join(s['seasons']) }}
            </div>
        {% endfor %}
    {% endif %}
    {% if qtype == 'movie' %}  <!-- movie source boxes -->
        <div class="u-cf" style="margin-top: 15px">Subscription:</div>
        {% for s in sources %}
            <div class="source">    
                <a href="{{ sources[s]['link'] }}">{{ sources[s]['name'] }}</a>
            </div>        
        {% endfor %}
    {% endif %}

    <div class="u-cf" style="margin-bottom: 15px"></div>

            <!--
        <div>
            {% if qtype == 'show'%}
                <div> <ul style="list-style: disc inside"> {% for s in sources %}
                    {% if sources[s]['type'] == 'subscription' %}
                        <li><strong>Subscription:</strong> {{ sources[s]['name'] }}
                            - {{ sources[s]['epcount'] }}
                            <a href={{ sources[s]['link'] }}>episodes</a>
                            in season(s): 
                            {{ ', '.join(sources[s]['seasons']) }}
                    {% endif %}
                    {% if sources[s]['type'] == 'free' %}
                        <li><strong>Free stream:</strong> {{ sources[s]['name'] }}
                            - {{ sources[s]['epcount'] }}
                            <a href={{ sources[s]['link'] }}>episodes</a>
                            in season(s): 
                            {{ ', '.join(sources[s]['seasons']) }}
                    {% endif %}
                    {% if sources[s]['type'] == 'tv_provider' %}
                        <li><strong>TV Provider login:</strong> {{ sources[s]['name'] }}
                            - {{ sources[s]['epcount'] }}
                            <a href={{ sources[s]['link'] }}>episodes</a>
                            in season(s): 
                            {{ ', '.join(sources[s]['seasons']) }}
                    {% endif %}
                {% endfor %} </ul> </div>
            {% else %}
                <ul style="list-style: disc inside"> {% for s in sources %}
                    <li><a href="{{ sources[s]['link'] }}">{{ sources[s]['name'] }}</a>
                    </li>
                {% endfor %} </ul>
            {% endif %}
        </div> -->
 
    {% elif isresult %}  <!-- display if search result without source -->
        <p>The {{ qtype }} <strong>{{ media['title'] }} ({{ media['year'] }})</strong>
            <a href='http://www.imdb.com/title/{{ media['imdb'] }}'>imdb</a>
            doesn't seem available on these streaming services.</p>

    {% elif query %}  <!-- display if no search results -->
          <p>Your search for "{{ query }}" did not match any {{ qtype }} results.
    {% endif %}

    
    {% if other_results %}  <!-- list of other results if available -->
        <div class="u-cf" style="margin-bottom: 2rem">
            <br/>...or did you mean?:
            {% for item in other_results %}
                <a href="{{ item['href'] }}">{{ item['title'] }}</a> &nbsp
            {% endfor %}
        </div>
    {% endif %}

  </div>    
</body>

</html>
