<!DOCTYPE html>
<html>
  <head>
    <title>Media search</title>
  </head>

  <body>
      <p>Check if Movie or TV Show is streaming on Netflix, HBO, Hulu, Amazon Prime, or Showtime</p>
      <form action="/result" method="post">
          <input type="text" name="movieq"></input>
          <input type="submit" value="Search Movie"></input>
      </form>
      <form action="/result" method="post">
          <input type="text" name="movieq"></input>
          <input type="submit" value="Search TV"></input>
      </form>

      {% if sources %}
      <p>You searched for {{ query }}. The {{ qtype }} {{ media['title'] }} (<a href='http://www.imdb.com/title/{{ media['imdb'] }}'>imdb</a>) is available on these streaming services:</p>

      <ul>
      {% for source in sources %}
        <li>{{ source }}</li>
      {% endfor %}
      </ul>

      <p>
      ...or did you mean?: 
      {% for other in other_results[:3] %}
      {{ other }}
      {% endfor %}
      </p>

      {% elif query %}
      <p>The {{ qtype }} {{ query }} doesn't seem available on these streaming services.</p>
      {% endif %}

      <!-- <p>{{ footer }}</p> -->
            
  </body>
</html>
