<!DOCTYPE html>
<html lang = en>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stream Finder</title>

    <!-- Mobile Specific Metas –––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS –––––––––––––––––––––––––––– -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='media_search.css') }}">
  </head>

  <body>
    <div class="container">
        {% block body %} {% endblock %}
    </div>
  </body>

</html>
