{% extends 'layout.html' %}

{% block body %}
    <h4>Find if a movie/show is streaming on Netflix, HBO, Hulu, Amazon Prime, or Showtime</h4>

    {% include 'includes/_searchbar.html' %}

    {% set img_base_url = 'https://image.tmdb.org/t/p/w154' %}

    <!-- display summary media info from themoviedb api call, not from db-->
    <div class="clearfix" style="margin-top: 20px">
        {% if summary %}
            <img style="margin-right: 15px; float: left; width: 120px;" src="{{ img_base_url + summary['poster_path'] }}" alt="Media result image" />
            <div><strong>{{ summary['title'] }} ({{ summary['year'] }})</strong></div>
            {% if mtype == 'show' %}
                <div><em>{{ summary['number_of_seasons'] }} seasons, {{ summary['number_of_episodes'] }} episodes</em></div>
            {% endif %}
            <div>{{ summary['overview'] }}</div>
            {% if session.logged_in %}
              <div style='margin-top:5px'>
                <form method="POST" action="/watchlist">
                  <input type="hidden" name="mid" value="{{ summary['id'] }}" />
                  <input type="hidden" name="mtype" value="{{ mtype }}" />
                  <input type="hidden" name="title" value="{{ summary['title'] }}" />
                  <input type="hidden" name="year" value="{{ summary['year'] }}" />
                  <button type="submit" class="btn btn-primary">Add to Watchlist</button>
                </form>
              </div>
            {% endif %}
        {% endif %}
    </div>

    <!-- display sources if found -->
    {% if not media or not media['sources'] %}
        <div class="clearfix" style="margin-top: 20px; color: red">
          There are no streaming sources for this {{ mtype }}
        </div>
    {% elif media and media['sources'] %}
        <div class="clearfix" style="margin-top: 20px"></div>
        {% for s in media['sources'] %}
            <!-- display logo or title in source boxes -->
            <div class="source">
              {% if s['name'] in ['netflix', 'hulu', 'amazon_prime', 'hbo', 'showtime'] %}
                  <img class="logo" src="{{ url_for('static', filename=s['name']+'_logo.png') }}" alt="Subscription logo" />
              {% elif s['type'] == 'subscription_web_sources' %}
                  <div class="typefree">Stream with Subscription</div>
                  <div class="name">{{ s['display_name'] }}</div>
              {% elif s['type'] == 'tv_everywhere_web_sources' %}
                  <div class="typetvp">Stream with TV Provider Login</div>
                  <div class="name">{{ s['display_name'] }}</div>
                  <div class="sourceinfo">Stream with your cable/sat TV account if you have this channel</div>
              {% elif s['type'] == 'free_web_sources' %}
                  <div class="typefree">Stream Free</div>
                  <div class="name">{{ s['display_name'] }}</div>
              {% endif %}

              <!-- display source info -->
              <div class="sourceinfo">
                Stream <a href={{ s['link'] }}>{{ mtype }}</a> on {{ s['display_name'] }}
              </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
