{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_header.html' %}
    {% include 'includes/_searchbar.html' %}

    {% set img_base_url = 'https://image.tmdb.org/t/p/w154' %}

    <!-- display summary media info from themoviedb api call, not from db-->
    <div class="clearfix" style="margin-top: 20px">
        {% if media %}
            <img style="margin-right: 15px; float: left; width: 120px;" src="{{ img_base_url + media['poster_path'] }}" alt="Media result image" />
            <div><strong>{{ media['title'] }} ({{ media['year'] }})</strong></div>
            {% if mtype == 'show' %}
                <div><em>{{ media['number_of_seasons'] }} seasons, {{ media['number_of_episodes'] }} episodes</em></div>
                <div><a href={{ 'https://www.themoviedb.org/tv/{}'.format(media['id']) }} target="_blank">TheMovieDB</a></div>
            {% else %}
                <div><a href={{ 'https://www.themoviedb.org/movie/{}'.format(media['id']) }} target="_blank">TheMovieDB</a></div>
            {% endif %}
            <div>{{ media['overview'] }}</div>
            {% if session.logged_in %}
              <div style='margin-top:5px'>
                <form method="POST" action="/api/watchlist"> 
                  <input type="hidden" name="id" value="{{ media['id'] }}" />
                  <input type="hidden" name="mtype" value="{{ mtype }}" />
                  <input type="hidden" name="title" value="{{ media['title'] }}" />
                  <input type="hidden" name="year" value="{{ media['year'] }}" />
                  <button type="submit" class="btn btn-primary">Add to Watchlist</button>
                </form>
              </div>
            {% endif %}
        {% endif %}
    </div>

    {% raw %}
    <div class="clearfix" style="margin-top: 20px;">
    <div id="vueapp">
      <div v-if="sources.length == 0" style="color: red">
        There are no streaming sources for this {{ mtype }}
      </div>
      <template v-else v-for="s in sources">
        <div v-if="s.name != 'amazon_pay'" class="source">
          <a :href="s.link">
            <img class="logo" :src="'/static/' + s.name + '_logo.png'" alt="logo" />
            <div v-if="s.name == 'amazon_pay'" class="sourceinfo">
              Buy/Rent to stream on Amazon Video
              <div v-for="t in s.temptext">{{ t }}</div>
            </div>
            <div v-else-if="s.name == 'amazon'" class="sourceinfo">
              Included with Amazon Prime subscription
            </div>
            <div v-else class="sourceinfo">
              Stream on {{ s.display_name }}
            </div>
          </a>
        </div>
        <div v-else class="source amz_pay_source">
          <div>
            <img class="amz_pay_logo" :src="'/static/' + s.name + '_logo.png'" alt="logo" />
            <div>Pay to stream or buy DVD/Blu-ray</div>
          </div>
          <div class="sourceinfo">
            <div v-for="p in s.products">
              <a :href="p.link">
                <template v-if="p.type == 'disc'">
                  💿 {{ p.title }} - {{ p.price }}
                </template>
                <template v-else>
                  <span class="glyphicon glyphicon-download-alt" style="padding: 0px 2px"></span>
                  {{ p.title }} - {{ p.price }}
                </template>
              </a>
            </div>
          </div>
        </div>
      </template>
    </div>
    {% endraw %}

    <script>
        var db_sources = {{ sources|safe }};
        new Vue({
            el: "#vueapp",
            data: {
                sources: db_sources,
                mtype: '{{ mtype }}'
            }
        });
    </script>

{% endblock %}
