{% extends 'layout.html' %}

{% block body %}
    <h4>Find if a movie/show is streaming on Netflix, HBO, Hulu, Amazon Prime, or Showtime</h4>

    {% include 'includes/_searchbar.html' %}

    {% set img_base_url = 'https://image.tmdb.org/t/p/w154' %}

    <!-- display summary media info from themoviedb api call, not from db-->
    <div class="clearfix" style="margin-top: 20px">
        {% if summary %}
            <img style="margin-right: 15px; float: left; width: 120px;" src="{{ img_base_url + summary['poster_path'] }}" alt="Media result image" />
            <strong>{{ summary['title'] }} ({{ summary['year'] }})</strong>
            - {{ summary['overview'] }}
            {% if session.logged_in %}
              <form method="POST" action="/watchlist">
                <input type="hidden" name="mid" value="{{ summary['id'] }}" />
                <input type="hidden" name="mtype" value="{{ mtype }}" />
                <input type="hidden" name="title" value="{{ summary['title'] }}" />
                <input type="hidden" name="year" value="{{ summary['year'] }}" />
                <button type="submit" class="btn btn-primary">Add to Watchlist</button>
              </form>
            {% endif %}
        {% endif %}
    </div>

    <!-- display sources if found -->
    {% if not media or not media['sources'] %}
        <div class="clearfix" style="margin-top: 20px; color: red">
          {% if media['_id'] %}  <!-- media came from the database -->
              There are no streaming sources for this {{ mtype }}
          {% else %}
              We do not have infomation about this {{ mtype }}
          {% endif %}
        </div>
    {% elif media and media['sources'] %}
        <div class="clearfix" style="margin-top: 20px"></div>
        {% for s in media['sources'] %}
            <!-- display logo or title in source boxes -->
            <div class="source">
              {% if s['source'] in ['netflix', 'hulu_plus', 'amazon_prime', 'hbo_now', 'showtime_subscription'] %}
                  <img class="logo" src="{{ url_for('static', filename=s['source']+'_logo.png') }}" alt="Subscription logo" />
              {% elif s['type'] == 'subscription_web_sources' %}
                  <div class="typefree">Stream with Subscription</div>
                  <div class="name">{{ s['display_name'] }}</div>
              {% elif s['type'] == 'tv_everywhere_web_sources' %}
                  <div class="typetvp">Stream with TV Provider Login</div>
                  <div class="name">{{ s['display_name'] }}</div>
                  <div class="sourceinfo">Stream with your cable/sat TV account if you have this channel</div>
              {% elif s['type'] == 'free_web_sources' %}
                  <div class="typefree">Stream Free</div>
                  <div class="name">{{ s['display_name'] }}</div>
              {% endif %}

              <!-- display source info -->
              {% if mtype == 'show' %}
                  <div class="sourceinfo">
                    {{ s['epcount'] }} <a href={{ s['link'] }}>episodes</a>
                    in season(s): {{ ', '.join(s['seasons']) }}
                  </div>
              {% else %}
                  <div class="sourceinfo">Stream <a href={{ s['link'] }}>movie</a> on {{ s['display_name'] }}</div>
              {% endif %}
              <!-- placeholder links for testing
              {% if s['source'] == 'amazon_prime' %}
                  <div class="sourceinfo"><a href='test'>Watch free with 30-day trial</a></div>
              {% elif s['source'] == 'hbo_now' %}
                  <div class="sourceinfo"><a href='test'>Get HBO on your Amz Prime</a></div>
                  <div class="sourceinfo">Stream on <a href='test'>HBO Now</a> or <a href='test'>HBO Go</a> with TV provider login</div>
              {% elif s['source'] == 'showtime_subscription' %}
                  <div class="sourceinfo"><a href='test'>Get Showtime on your Amz Prime</a></div>
                  <div class="sourceinfo">Stream on <a href='test'>Showtime</a> or <a href='test'>Showtime Anytime</a> with TV provider login</div>
              {% elif s['type'] == 'tv_provider' %}
                  <div class="sourceinfo">Stream with your cable/sat TV account if you have this channel</div>
              {% endif %} -->
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
