{% extends 'layout.html' %}

{% block body %}
    <div>
      <h4>Find if a movie/show is streaming on Netflix, HBO, Hulu, Amazon Prime, or Showtime</h4>
    </div>

    {% include 'includes/_searchbar.html' %}

    {% set img_base_url = 'https://image.tmdb.org/t/p/w154' %}

    <h3>Movie + Show results for: <strong>{{ query }}</strong></h3>
    <div class="row">
      {% for mv in movies['results'][:3] %}
          <div class="col-md-2">
            <div>Movie:</div>
            <a href="#">
              <img src={{ img_base_url + mv['poster_path'] }}>
              <div>{{ mv['title'] }} ({{ mv['release_date'][:4] }})</div>
            </a>
          </div>
      {% endfor %}

      {% for sh in shows['results'][:3] %}
          <div class="col-md-2">
            <div>Show:</div>
            <a href="#">
              <img src={{ img_base_url + sh['poster_path'] }}>
              <div>{{ sh['name'] }} ({{ sh['first_air_date'][:4] }})</div>
            </a>
          </div>
      {% endfor %}
    </div>

{% endblock %}
