{% extends 'layout.html' %}
{% set active_page = 'register' %}

{% block body %}
    <h2>
      Sign up to Create Watchlist
      <small>or <a href="{{ url_for('login') }}">sign in</a></small>
    </h2>
    {% from 'includes/_formhelpers.html' import render_field %}
    <form method="POST" action="">
      <table>
        <tr>
          <td><div class="form-group">{{ render_field(form.name, class='form-control') }}</div></td>
          <td><div class="form-group">{{ render_field(form.email, class='form-control') }}</div></td>
        </tr>
        <tr>
          <td><div class="form-group">{{ render_field(form.password, class='form-control') }}</div></td>
          <td><div class="form-group">{{ render_field(form.confirm, class='form-control') }}</div></td>
      </table>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
    <div style="margin-top: 35px;">
      <h3>Watchlist example:</h3>
      <img style="height: 280px;" src="/static/watchlist_ex.png" alt="Watchlist Example" />
    </div>
{% endblock %}
