{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_header.html' %}
    {% include 'includes/_searchbar.html' %}

    {% set img_base_url = 'https://image.tmdb.org/t/p/w154' %}

    {% if not movies and not shows %}
        <h3>Your search for "{{ query }}" did not match any results.</h3>
    {% else %}
        <h3>Search results for: <strong>{{ query }}</strong></h3>
    {% endif %}

    <section id="results">
      {% for media in results %}
        <article>
          <h5>{{ media['mtype']|capitalize() }}:</h5>
            <a href="{{ url_for('mediainfo', mtype=media['mtype'], mid=media['id']) + '?q=' + query }}">
              <img src="{{ img_base_url + media['poster_path'] }}">
              <p>{{ media['title'] }} ({{ media['release_date'][:4] }})</p>
            </a>
        </article>
      {% endfor %}
    </section>

{% endblock %}
