{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_header.html' %}
    {% include 'includes/_searchbar.html' %}

    {% set img_base_url = 'https://image.tmdb.org/t/p/w154' %}

    {% if not movies and not shows %}
        <h3>Your search for "{{ query }}" did not match any results.</h3>
    {% else %}
        <h3>Search results for: <strong>{{ query }}</strong></h3>
    {% endif %}

    <div class="row">
      {% if movies and movies['results'] %}
      {% for mv in movies['results'][:3] %}
          <div class="col-md-2">
            <div>Movie:</div>
            <a href="{{ url_for('mediainfo', mtype='movie', mid=mv['id']) + '?q=' + query }}">
              <img src="{{ img_base_url + mv['poster_path'] }}">
              <div>{{ mv['title'] }} ({{ mv['release_date'][:4] }})</div>
            </a>
          </div>
      {% endfor %}
      {% endif %}

      {% if shows and shows['results'] %}
      {% for sh in shows['results'][:3] %}
          <div class="col-md-2">
            <div>Show:</div>
            <a href="{{ url_for('mediainfo', mtype='show', mid=sh['id']) + '?q=' + query }}">
              <img src="{{ img_base_url + sh['poster_path'] }}">
              <div>{{ sh['name'] }} ({{ sh['first_air_date'][:4] }})</div>
            </a>
          </div>
      {% endfor %}
      {% endif %}
    </div>

{% endblock %}
