{% extends 'layout.html' %}
{% set active_page = "watchlist" %}

{% block body %}
    {% include 'includes/_searchbar.html' %}

    <div class="clearfix" style="margin-bottom: 20px"></div>
    <table>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Sources</th>
        <th></th>
      </tr>
      {% for m in medias %}
        <tr>
          <td>
            {% if m['mtype'] == 'show' %}
                {{ '\U0001F4FA' }}
            {% else %}
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                <!-- {{ '\U0001F3A5' }} -->
            {% endif %}
          </td>
          <td>{{ m['title'] }}</td>
          <td>
            {% for s in m['src_display'] %}
                {{ s['display_name'] }}
                <a href={{ s['link'] }}>watch</a>
                <a href=placeholder.html>signup</a>
            {% endfor %}
          </td>
          <td>
            <!-- delete link that removes media item from watchlist -->
            <form method="POST" action="/edit_watchlist">
              <input type="hidden" name="operation" value="delete" />
              <input type="hidden" name="mtype" value="{{ m['mtype'] }}" />
              <input type="hidden" name="gbid" value="{{ m['id'] }}" />
              <button type="submit" class="button-del">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>

{% endblock %}
