{% extends 'layout.html' %}
{% set active_page = "watchlist" %}

{% block body %}
    {% include 'includes/_searchbar.html' %}

    {% if not medias %}<br><h3>Watchlist empty... search and add</h3>{% endif %}

    <div class="clearfix" style="margin-bottom: 20px"></div>

    <div class="panel panel-default">
    <table class="table table-condensed table-striped">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Sources</th>
        <th></th>
      </tr>
      {% for m in medias %}
        <tr>
          <td>
            {% if m['mtype'] == 'show' %}
                {{ '\U0001F4FA' }}
            {% else %}
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                <!-- {{ '\U0001F3A5' }} -->
            {% endif %}
          </td>
          <td>{{ m['title'] }}</td>
          <td>
            {% for s in m['src_display'] %}
                  <a href={{ s['link'] }}>{{ s['display_name'] }}</a> &nbsp;
            {% endfor %}
          </td>
          <td>
            <!-- delete link that removes media item from watchlist -->
            <a href="/watchlist/delete/{{m['mtype']}}/{{m['themoviedb']}}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    </div> <!-- panel div -->

{% endblock %}
