{% extends 'layout.html' %}
{% set active_page = 'watchlist' %}

{% block body %}
  {% include 'includes/_searchbar.html' %}

  {% raw %}
    <div id="vueapp">
      <div style="margin: 15px 0px 3px 3px;">
        <label><input type="checkbox" v-model="showMap.blank_lines" @change="changedPrefs"> Hide media with no sources</label>
        &nbsp; &nbsp;
        <label><input type="checkbox" v-model="showMap.amazon_pay" @change="changedPrefs"> Hide Amazon pay sources</label>
      </div>
      <div v-if="wlist.length == 0">
        <h3>Watchlist empty... search and add</h3>
      </div>
      <div v-else class="panel panel-default">
        <table class="table table-condensed table">
          <tr>
            <th class="col-md-1"></th>  <th class="col-md-4">Title</th>  <th class="col-md-4">Sources</th>  <th class="col-md-3"></th>
          </tr>
          <tr v-for="item in wlist" v-show="isDisplay(item)">
              <td v-if="item.mtype == 'show'">
                <a :href="item.mtype + '/id/' + item.id">
                  <img class="icon" src="static/glyphicon-tv.png" alt="tv icon" />
                </a>
              </td>
              <td v-else>
                <a :href="item.mtype + '/id/' + item.id">
                  <img class="icon" src="static/glyphicon-film.png" alt="film icon" />
                </a>
              </td>

              <td>{{ item.title }} ({{ item.year }})</td>

              <td>
                <span v-for="s in item.sources" v-show="!showMap[s.name]">
                  <a :href="s.link" target="_blank">
                    <img class="icon" :src="'static/' + s.name + '_favicon.ico'" alt=""/>
                  </a>
                </span>
              </td>

              <td><button class="btn btn-xs" @click="delItem(item)">Delete</button></td>
          </tr>
        </table>
      </div>
    </div>
  {% endraw %}

    <script>
        new Vue({
            el: "#vueapp",
            data: {
                wlist: {{ watchlist|safe }},
                tempVar: true,
                showMap: {  // says whether each source / blanklines should be hidden
                    'netflix': false,
                    'hbo': false,
                    'hulu': false,
                    'showtime': false,
                    'amazon': false,
                    {% if (user['prefs'] is defined) and (user['prefs']['hideBlankLines'] is defined) %}
                        'amazon_pay': {{ user['prefs']['hideAmzPayIcons'] | tojson }},
                        'blank_lines': {{ user['prefs']['hideBlankLines'] | tojson }},
                    {% else %}  // ensure py var exists before attempt to convert to json
                        'amazon_pay': false,
                        'blank_lines': false,
                    {% endif %}
                },
            },
            methods: {
                isDisplay: function(item) {
                    if (this.showMap.blank_lines && item.sources.length == 0) {
                        return false;
                    } else if (this.showMap.blank_lines && this.showMap.amazon_pay && item.sources.length == 1 && item.sources[0].name == 'amazon_pay') {
                        return false;
                    } else {
                        return true;
                    }
                },
                changedPrefs: function() {
                    // send post to api to update user prefs
                    this.$http.post('/api/user', {'hideBlankLines': this.showMap.blank_lines, 'hideAmzPayIcons': this.showMap.amazon_pay});
                },
                delItem: function(item) {
                    //this.$http.delete('/api/item/' + item.mtype + '/' + item.id)
                    //    .then(function(response) {
                    //        $('.alert').alert('close');  // close any open alerts
                    //        let index = this.wlist.indexOf(item);
                    //        if (index > -1) {
                    //            this.wlist.splice(index, 1);
                    //        }
                    //    }, function(error) {
                    //        $('.alert').alert('close');  // close any open alerts
                    //        $('#customAlert').html(
                    //            '<div class="alert alert-danger">Could not delete item</div>'
                    //        );
                    //    });

                    let index = this.wlist.indexOf(item);
                    if (index > -1) {
                        this.wlist.splice(index, 1);
                    }
                    this.changedPrefs();
                }
            }
        });
    </script>

{% endblock %}
